<div class="row" style="padding-top: 10px;">
  <div class="col-md-5">
<p style="text-align: center; color: #9094da; font-size: 40px; padding-top: 10px;">
  My Calendar
  </p>
</div>
<div class="col-md-6">
  <div class="row" style="text-align: left; padding-top: 5px;">
  <div class="eventBtn btn">
    <%= link_to 'New Event', new_event_path %>
  </div>
  </div>
  <br>
</div>
</div>

  <div id="calendar">
  </div>