<div class="row" style="padding-top: 10px;">
  <div class="col-md-5">
<p style="text-align: center; color: #9094da; font-size: 40px; padding-top: 10px; font-family: 'Bitter'">
  My Calendar
  </p>
</div>
<div class="col-md-6">
  <div class="row" style="text-align: left; padding-top: 5px;">
  <div class="eventBtn btn">
    <%= link_to 'New Event', new_event_path %>
  </div>
  </div>
  <br>
</div>
</div>

  <div id="calendar">
  </div>

<div class="modal fade" tabindex="-1" role="dialog" id="eventModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="eventTitle" style="font-weight: 900"></h4>
      </div>
      <div class="modal-body">
        <p id="eventDescription"></p>
        <p id="eventStartTime"></p>
        <p id="eventEndTime"></p>
        <p id="eventPrivacy"></p>
        <a id="linkToEdit">Edit</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  var events = <%= raw @events.to_json %>
</script>