<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

<!-- Header -->
    <a name="about"></a>
    <div class="main_bg">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Schedulr</h1>
                        <h3>Easily share your calendar with friends.</h3>


                        <hr class="intro-divider">
                        <br>

                        <ul class="list-inline intro-social-buttons">
                            <li>
                              <%= link_to "SIGN UP", new_user_registration_path, :class => "btn btn-lg btn-primary outline"  %>
                            </li> 
                            <li>
                              <%= link_to "LOG IN", new_user_session_path, :class => "btn btn-lg btn-primary outline"  %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" id="img-circle-1">
          <h2>Share your up-to-date calendar easily.</h2>
          <p>Creating, updating, and deleting events on your personal calendar is simple. Grant and request access permissions by usernames.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" id="img-circle-2">
          <h2>Choose what to share with privacy settings.</h2>
          <p>Keep events or details you've planned ahead private from your nosey friends. Set different privacy levels for different connections.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" id="img-circle-3">
          <h2>Keep track of social groups in convenient tabs.</h2>
          <p>Combined calendars for different social groups, so you can visually figure out a time to meet and block out times on their calendars.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


    

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 J10. &middot; <a href="http://www.scalableinternetservices.com/">CS188 Scalable Web Services</a> &middot; <a href="https://github.com/scalableinternetservices/J10">Github</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>
