 <footer style="margin: 0px 20px">
 	<p class="pull-right"><a class="links" href="#">Back to top</a></p>
 	<p>
 		&copy; 2015 J10. &middot; 
 		<a class="links" href="http://www.scalableinternetservices.com/">CS188 Scalable Web Services</a> 
 		&middot; 
 		<a class="links" href="https://github.com/scalableinternetservices/J10">Github</a>
 	</p>
 </footer>